{%load static%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%block title%}NoaWeb iNDEX{%endblock%}</title>
   

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://kit.fontawesome.com/0786c5feec.css" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/templatemo-festava-live.css' %}" rel="stylesheet">
    <link href="{% static 'css/moj_css.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

       <!-- JAVASCRIPT FILES -->
       <script src="{% static  'js/jquery.min.js' %}"></script>
       <script src="{% static  'js/bootstrap.min.js' %}"></script>
       <script src="{% static  'js/jquery.sticky.js' %}"></script>
       <script src="{% static  'js/click-scroll.js' %}"></script>
       <script src="{% static  'js/custom.js' %}"></script>
       <script src="{% static  'js/moj.js' %}"></script>
       <script src="{% static  'js/script.js' %}"></script>
      
    
  

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index'%}" ><img class="logo" src="{% static '/images/video.png' %}" width="70px" height="80px"style=" border-radius: 50%;">

                Noa foto
            </a>

           

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if request.resolver_match.url_name == 'index' %}
<!-- Display content for the home page -->


            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                </ul>

                
            </div>
            {%else%}
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                    
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'index' %}#section_1">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'index' %}#section_2">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'index' %}#section_3">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                </ul>

                
            </div>


            {% endif %}
        </div>
    </nav>
</head>
{%block content%}

{% endblock %}
