{% extends 'base.html' %}
{% load static %}


{% block title %}Index{% endblock %}

{%block content%}



    



        


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>
        
            <div class="container d-flex flex-column justify-content-between">
                <div class="row">
                    <!-- Ostali sadržaj sekcije može ići ovde -->
                </div>
        
                <div class="social-share">
                    <ul class="social-icon d-flex align-items-center justify-content-center">
                        <span class="text-white me-3">Share:</span>
        
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-facebook"></span>
                            </a>
                        </li>
        
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-twitter"></span>
                            </a>
                        </li>
        
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="{% static 'video/pexels-2022395.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>
        

        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                            <h2 class="text-white mb-4">lore ipsum</h2>

                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                 ullamco laboris nisi ut</p>

                            <h6 class="text-white mt-4">Once in Lifetime Experience</h6>

                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>

                            <h6 class="text-white mt-4">Lorem ipsum dolor sit amet</h6>

                            <p class="text-white">Lorem ipsum dolor sit amet Thank you.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                            <img src="{% static 'images/pexels-alexander-suhorucov-6457579.jpg' %}" class="about-image img-fluid">

                            <div class="about-text-info d-flex">
                                <div class="d-flex">
                                    <i class="about-text-icon bi-person"></i>
                                </div>


                                <div class="ms-4">
                                    <h3>da da da da</h3>

                                    <p class="mb-0">your amazing festival experience with us</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


       
       


        <section class="contact-section section-padding" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Interested? Let's talk</h2>

                        <nav class="d-flex justify-content-center">
                            <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                                role="tablist">
                                <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactForm" type="button" role="tab"
                                    aria-controls="nav-ContactForm" aria-selected="false">
                                    <h5>Contact Form</h5>
                                </button>

                              
                            </div>
                        </nav>

                        <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                            
                            <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel" aria-labelledby="nav-ContactForm-tab">
                                    <form class="custom-form contact-form mb-5 mb-lg-0" action="{% url 'index' %}" method="post" role="form">
                                        {% csrf_token %}
                                        <div class="contact-form-body">
                                            <div class="row">
                                                {% for field in form %}
                                                    {% if field.name not in "subject message" %}
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            {{ field.label_tag }}
                                                            {{ field }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            
                                            {% for field in form %}
                                                {% if field.name == "subject" %}
                                                    <div class="row">
                                                        <div class="col-12">
                                                            {{ field.label_tag }}
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% elif field.name == "message" %}
                                                    <div class="row">
                                                        <div class="col-12">
                                                            {{ field.label_tag }}
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                        
                                            <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                                <button type="submit" class="form-control">Send message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            

                            

                            <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel"
                                aria-labelledby="nav-ContactMap-tab">
                                <iframe class="google-map"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29974.469402870927!2d120.94861466021855!3d14.106066818082482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd777b1ab54c8f%3A0x6ecc514451ce2be8!2sTagaytay%2C%20Cavite%2C%20Philippines!5e1!3m2!1sen!2smy!4v1670344209509!5m2!1sen!2smy"
                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    


    {% endblock %}
